# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore environment files
.env
venv/
*.venv

# Ignore logs and database files
*.log
*.sqlite3

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE and editor settings
.vscode/
.idea/
*.swp
